# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# IDE
.idea/
.vscode/

# Playwright / logs / builds
playwright-report/
test-results/
*.log
dist/
build/

# Credenciais/ambiente
.env
*.env
.env.*
*.key
*.pem
